@import url('https://fonts.googleapis.com/css?family=Lobster');

html{
	color:white;
	text-align:center;
	background-color:#ECF0F1;
	background-image:url("fondo3.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	font-family: "Oswald";
	font-size: 150%;
	color:#797D7F;
}

h1{
	margin-left:15%;
	margin-right:15%;
	font-family: "Lobster";
	font-style: italic;
	font-size: 300%;
	background-color:#ECF0F1;
	color:#DAA520;
}

.cajas{
	margin-top: 27%;
	font-family: "Lobster";
	color:#B8860B;
}

.textbox{
  border: 1px solid #DBE1EB;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
}

.textbox:focus{
  color: #2E3133;
  border-color: #FBFFAD;
}

.boton {
	margin-top:4%;
	margin-left:46.5%;
  	background: url("chip.png");
  	background-repeat:no-repeat;
  	background-color:#DAA520;
  	background-position:center;
	background-size: 60%; /* Tamaño de la imagen */
  	height: 100px;  /* Alto del botón */
  	width: 100px;  /* Ancho del botón */
  	display: table;
  	border-radius: 100%;
  	cursor: pointer;
    box-shadow:
	/* Sombras externa */
	inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
	/* Sombra interna */
	0 5px 20px rgba(0,0,0,.1);
}

/* Al presionar */
.boton:active {
  	box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  	background-size: 55%; /* Cambiamos el tamaño de la imagen */
}