@import url('https://fonts.googleapis.com/css?family=Lobster');

html{
	color:white;
	text-align:center;
	background:url("fondo2.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

h1{
	margin-right:50%;
	font-family: "Lobster";
	font-style: italic;
	font-size: 300%;
	color:#B22222;
}

.Presentacion{
	margin-left:3%;
	margin-right:50%;
	font-family: "Lobster", bold;
	font-size: 130%;
	color:#800000;
}

.boton{
	margin-top:10%;
	width:12%;
	height:7%;
	color:black;
	font-weight:normal;
	font-size:100%;
	background:linear-gradient(#DAA520, #B8860B);
	border-color:#717D7E;
}

.boton:hover {
    background:linear-gradient(#800000, #B22222);
    color:white;
}

img.media{
	margin-top: 3%;
	width: 25%; 
	height: 50%;
}